<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="./layouts/style.css">
    <title>Inicio</title>
</head>
<body>
    <main>
        <h1>Bem Vindo a Sua lista de afazers</h1>
        <a href="http://localhost:8081/cad"><button>Cadastre um Evento</button></a>
        <a href="http://localhost:8081/add/completed"><button type="button" class="botao-2">Lista de afazers</button></a>

    </main>
</body>
</html>